

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

select, option, .form-select, input[type='search']{
    font-size: 0.85rem;
    font-weight: 500;
}

th, td, th a{
    font-size: 0.85rem;
    font-weight: 500;
}

th{
    color: #868686;
}

.table-borderless>:not(caption)>*>*{
    text-align: left;
}

.table-bordered>:not(caption)>*>*:last-of-type{
    border-width: 0 1px !important;
    border-left: 1px !important;
}

table{
    border-radius: 10rem;
}
.table>tbody{
    vertical-align: middle;
}

.table>tbody>tr>td>button{
    font-size: 0.85rem;
    font-weight: 500;
}

.table>tbody>tr>.content-button{
    text-align: center;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #F8F9FA;
}

.main > main{
    overflow-y: scroll;
    height: 100vh;
}

.main > main::-webkit-scrollbar{
    width:6px
}

.main > main::-webkit-scrollbar-thumb{
    background-color: white
}

.main > main::-webkit-scrollbar-track{
    background-color:#dddddd
}



#sidebar.expand {
    width: 200px;
    min-width: 200px;
}

.sidebar2{
    border-bottom: 1px solid #494949;
}

.sidebar3{
    border-bottom: 1px solid #e2e2e2;
}

#sidebar {
    width: 80px;
    min-width: 80px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    
}

#sidebar::-webkit-scrollbar{
    width:6px
}

#sidebar::-webkit-scrollbar-thumb{
    background-color:var(--white)
}

#sidebar::-webkit-scrollbar-track{
    background-color:#0d1117
}

#sidebar.expand {
    width: 225px;
    min-width: 225px;
}

.sidebar-header{
    border-bottom: 1px solid #494949;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}

.toggle-btn i {
    font-size: 1.2rem;
    color: #FFF;
    vertical-align: middle;
}

.sidebar-logo {
    margin: auto 0;
    margin-top: 1.1rem;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 0.95rem;
    font-weight: 600;

}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    padding-top: 1rem;
    flex: 1 1 auto;
    margin-bottom: 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    font-weight: 500;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}